$blue: #89b8ea;
$grey: #2f3033;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
	-o-transition: $transition;
    transition: $transition;
}

html, body {
	height: 100%;
}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	background: #fff;
	font-family: 'Sanchez', sans-serif;
	margin: 0;
	font-size: 14px;
		h1, h2, h3, h4 {
			font-family: 'Sanchez', serif;	
			font-weight: 300;
		}
		strong {
			font-weight: 700;
		}
		p {
			font-family: Arial, sans-serif;
			line-height: 1.7;
		}
}

header {
	padding: 10px 0;
	position: absolute;
	width: 100%;
	z-index: 5;
	.col {
		display: table-cell;
		vertical-align: middle;
	}
	nav {
		text-align: right;
		ul.main-menu {
			position: relative;
			z-index: 4;
			margin: 0;
			padding: 0;
			> li {
				font-size: 14px;		
				display: inline-block;
				position: relative;
				margin: 0 1.5%;
			}
			li:last-child {
				margin-right: 0;
			}
			a {
				padding: .5em 1px;
				display: block;
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
			}
			li:before {
				position: absolute;
				left: 15%;
				right: 15%;
				bottom: 0;
				background: #3a3a3a;
				height: 3px;
				content: '';
				@include transition(0.5s ease-in-out);
				opacity: 0;
			}
			li:hover:before, li.current:before {
				left: 0;
				right: 0;
				opacity: 1;
			}
		}
	}	
	.clicker, .mask {
		display: none;
	}
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 5px;
}

.inside-wrapper {
	max-width: 970px;
	margin: 0 auto;
	padding: 0 5px;
}

.main-wrapper {
	margin: 0 auto -83px;
    min-height: 100%;
    height: auto !important;
		p {
			font-family: Arial, sans-serif;
			color: $grey;
		}
}

#header-img {
	position: relative;
	display: block;
	background-image: url('../img/header-img.jpg');
	height: 892px;
	background-size: cover;
	background-attachment: fixed;
	h2,h3 {
		max-width: 370px;
		font-size: 3.25em;
		margin-bottom: 10px;
	}
	* {
		color: #fff;
	}
	.inside-wrapper {
		position: absolute;
		z-index: 4;
		bottom: 10%;
		width: 100%;
		right: 0;
		left: 0;
	}
	.top-header {
		display: table;
		width: 100%;
		table-layout:fixed;
	}
	figure {
		margin: 0;
		display: table-cell;
		vertical-align: middle;
		text-align: right;
		width: 50%;
		img {
			max-width: 100%;
			width: auto;
			height: auto;
		}
	}
	.heading {
		display: table-cell;
		vertical-align: middle;
		padding-right: 5px;
		width: 50%;
			p {
				font-size: 1.05em;
			}
			a {
				font-family: arial, sans-serif;
				text-decoration: none;
				border: 2px solid #fff;
				display: inline-block;
				padding: 10px;
				@include transition(0.5s ease-in-out);
			}
			a:hover {
				background: #fff;
				color: $blue;
			}
	}
}
#header-img:before {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
	background: rgba(113, 160, 210, 0.8);
}

.table {
	display: table;
	width: 100%;
}

.clearfix {
	clear: both;
}

.home #front-sections {
	overflow: hidden;
	.white {
		padding: 30px 0;
		h1, h2, h3 {
			color: $blue;
		}
	}
	.grey {
		background: #e9e9e9;
	}
	h1, h2, h3 {
		margin: 0 0 10px;
		font-size: 3em;
	}
	h1, h2, h3, p, .video {
		text-align: center;
	}
	a {
		border: 2px solid #fff;
		display: inline-block;
		padding: 10px ;
	}
	.what-we-do {
		padding: 50px 0;
		p {
			max-width: 520px;
			margin: 0 auto;
		}
		ul {
			margin: 40px auto 10px;
			padding: 0;
			text-align: center;
			display: table;
			li {
				display: table-cell;
					img {
						width: 90%;
						height: auto;
					}
			}
		}
	}
	.video {
		padding: 60px 0;
			img {
				max-width: 100%;
				width: auto;
				height: auto;
			}
	}
	.contact {
		text-align: left;
			h2 {
				text-align: center;
			}
			p {
				text-align: center;
				font-size: 1.2em;
			}
			form {
				max-width: 830px;
				margin: 0 auto;
				padding: 0 20px;
				p {
					text-align: left;
				}
				.question {
					/*display: table-cell;*/
					width: 48%;
				}
				.alignleft {
					float: left;
				}
				.alignright {
					float: right;
				}
				input[type="submit"] {
					width: 140px;
					margin: 20px auto;
					border: 2px solid #bfbfbf;
					padding: 8px 10px;
					background: transparent;
					clear: both;
					font-size: 1.1em;
					display: block;
					cursor: pointer;
				}
				input[type="submit"]:hover {
					background: $blue;
					color: #fff;
					border: 2px solid $blue;
				}
				input {
					@include border-radius(0);
					width: 100%;
					height: 52px;
					border: 2px solid #bfbfbf;
					padding: 15px 5px 15px 15px;
					margin-bottom: 20px;
					font-size: 1em;
					line-height: 1.3em;
				}
				input:focus, textarea:focus {
					outline: none;
					border: 2px solid $blue;
				}
				textarea {
					font-size: 1em;
					width: 100%;
					height: 200px;
					padding: 15px 5px 15px 15px;
					font-family: arial, sans-serif;
					border: 2px solid #bfbfbf;
					@include border-radius(0);
				}
				::-webkit-input-placeholder {
					color: $grey;
					font-size: 1em;
				}
				:-moz-placeholder { /* Firefox 18- */
					color: $grey;
					font-size: 1em;			   
				}
				::-moz-placeholder {  /* Firefox 19+ */
					color: $grey;
					font-size: 1em;
				}
				:-ms-input-placeholder {  
					color: $grey;
				   	font-size: 1em;
				}
			}
	}
	.heroes {	
		height: 283px;
		position: relative;
		overflow:hidden;
		text-align: center;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			h2 {
				margin-bottom: 20px;
			}
			img {
				filter: grayscale(100%);			
				-webkit-filter: grayscale(100%);
				-moz-filter: grayscale(100%);
				-ms-filter: grayscale(100%);
				-o-filter: grayscale(100%);
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				z-index: -1;
				/*width: 100%;*/
				height: auto;
				min-height: 283px;
			}
			.inside-wrapper {
				display: table-cell;
				vertical-align: middle;
			}
			.heading {
				position: relative;
				z-index: 1;
			}
			*, h3, h2 {
				color: #fff;
			}
			a, p {
				font-family: arial, sans-serif;
				text-decoration: none;
			}
			a {
				@include transition(0.5s ease-in-out);
			}
			a:hover {
				background: #fff;
				color: $blue;
			}
	}
	.heroes:before {
		position: absolute;
		content: '';
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(94,102,111,.85);
	}
	.map {
		position: relative;
		img {
			width: 100%;
			height: auto;
			max-width: 1920px;
			margin: 0 auto;
			display: block;			
		}
	}
	.map-info {
		background: rgba(94,102,111,.8);
		padding: 1em 2em;
		color: #fff;
		text-align: left;
		max-width: 285px;
		position: absolute;
		top: 20px;
		z-index: 2;
		font-family: arial, sans-serif;
		font-size: 1.1em;
			h3 {
				margin: 10px 0;
			}
			h3, p, a {
				color: #fff;
				text-align: left;		
			}
			h3 {
				font-size: 2.2em;
			}
			a {
				text-decoration: none;
				border: none;
				padding: 0;
			}
			address {
				font-style: normal;
			}
			ul.social-links {
				margin: 10px 0 0 -15px;
				padding: 0;
				list-style-type: none;
					li {
						display: inline-block;
						float: left;
					}
			}
	}
}

.push, footer {
	height: 83px;
}

footer {
	display: table;
	width: 100%;
	background: $blue;
	color: #fff;
	text-align: center;
	font-size: 1.3em;
		.wrapper {
			display: table-cell;
			vertical-align: middle;
		}
		* {
			color: #fff;
			font-weight: normal;
		}
		a {
			text-decoration: none;
		}
}

@media (min-width: 999px) {
	.home #front-sections .heroes img {
		width: 100%; 
	}
}

@media (max-width: 1000px) {
	.home #front-sections .video img {
		max-width: 80%;
	}
	.home #front-sections ul.social-links li img {
		max-width: 80%;
		width: auto;
		height: auto;
	}	
}

@media (max-width: 900px) {
	.map:after {
		content: '';
		background: rgba(94, 102, 111, 0.8);
		position: absolute;
		top: 0;
		width: 100%;
		bottom: 0;
	}
	.home #front-sections .map-info {
		padding: .75em;
		max-width: none;
		right: 0;
		top: 10px;
		bottom: 10px;
		background: transparent;
	}
	.home #front-sections .map-info {
		left: 0;
	}
	.home #front-sections {
		.map {
			height: 330px;
			overflow: hidden;
				#map {
					width: auto;
					height: 330px;
				}
		}
	}
}

@media (max-width: 700px) {
	body {
		overflow-x: hidden;
		left: 0;
		position: relative;
		@include transition(all 0.5s ease-in-out);		
	}
	nav.col {
		background: $grey;
		@include transition(all 0.5s ease-in-out);	
		right: -200px;
		top:0;
		display: block;
		width: 200px;
		height: 100%;
		z-index: 6;
		position: fixed;
			.main-menu li {
				display: block;
				margin: 5px 0;
				border-bottom: 1px solid #4C4C4C;		
					a {
						padding: 10px;
					}
			} 
			li.current:before, li:hover:before {
				display: none;
			}
	}
	.menu-push header nav.col {
		visibility: visible;
		right:0;
	}
	header .clicker {
		display: table-cell;
		width: 30px;
	}
	.mobile-trigger {
		position: relative;
		width: 30px;
		height: 30px;
		float: right;
		cursor: pointer;
			span {
				color: #fff;
				position: relative;
				height: 2px;
				background: #fff;
				display: block;
				@include transition(all 0.5s ease-in-out);
				-webkit-transform: translateZ(0);
				transform: transformZ(0);
			}
			span:first-child {
				top: 0;
			}
			span.middle {
				top: 10px;
			}
			span:last-child {
				top: 20px;
			}
	}
	.mask {
		@include transition(all 0.5s ease-in-out);	
		opacity: 0;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 4;
		width: 100%;
		display: block;
		height: 100%;	
		visibility:hidden;
	}
	.menu-push .mask {
		background: rgba(255,255,255,.6);
		opacity: 1;	
		visibility: visible;
	}
	.wrapper, .inside-wrapper {
		padding: 0 15px;
	}
	h1 {
		font-size: 28px !important;
	}
	h2 {
		font-size: 26px !important;
	}
	h3 {
		font-size: 24px !important;
	}
	#header-img {
		height: 600px;
			figure {
				padding-left: 5px;
			}
	}
	.home #front-sections .contact form input  {
		padding: 0 5px;
	}
	.home #front-sections .contact form textarea {
		padding: 10px 5px;
	}
	.home #front-sections .contact form input {
		height: 50px;
	}
	.what-we-do ul li img {
		max-width: 100%;
		width: auto;
		height: auto;
	}
}

@media (max-width: 600px) {
	form > * {
		clear: both;
		display: block;
		width: auto !important;
		float: none !important;
	}
}

@media (max-width: 480px) {
	#map {
		position: relative;
		right: 40%;
	}
	.home #front-sections .video img {
		max-width: 90%;
	}
	#header-img {
		height: 445px;
			figure {
				display: none;
			}
			.inside-wrapper {
				bottom: 20px;
			}
			h2 {
				font-size: 24px !important;
			}
	}
}
